* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.se1 {
  width: 400px;
  padding-top: 75px;
  padding-bottom: 70px;
}
.se1-head {
  /* Interior Design */

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #292f36;
}
.se1-text {
  /* Enhancing the interior to achieve a healthier environment for the people using right space. */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}
.se2 {
  width: 400px;
  padding-top: 75px;
  padding-bottom: 70px;
}

.se2-head {
  /* Furniture */

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #292f36;
}
.se3-head {
  /* Flooring */

  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #292f36;
}

.se3 {
  width: 400px;
  padding-top: 75px;
  padding-bottom: 70px;
}

.se2-text {
  /* Thin object any finished material applied over a floor structure to provide a walking surface. */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}

.se3-text {
  /* Thin object any finished material applied over a floor structure to provide a walking surface. */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;

  color: #4d5053;
}

.se4-head {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292f36;
}

.se5-text {
  /* The world needs innovators and problem solvers who turn challenges into greater opportunities. We have */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  letter-spacing: 0.22px;

  color: #4d5053;
}
.flex {
  display: flex;
}

.a1 {
  display: block;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 34px;
  padding-right: 67px;
  background-image: url("./img/IMAGE\ \(3\).webp");
  background-repeat: no-repeat;
  color: white;
  /* Get Free Estimate */

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  letter-spacing: 0.72px;

  color: #ffffff;
}

.div1 {
  display: flex;
}

.se6-text {
  padding-bottom: 20px;
}

.se7-text {
  padding-bottom: 20px;
}
